body {
    font-family: "Roboto Slab", Verdana;
}
header {
    padding: .1em;
}
#logo > h1 {
    font-size: 6em;
    font-family: "Poiret One";
    text-align: center;
    margin: 0 auto;
}
#logo > h6 {
    font-size: 1.3em;
    font-family: "Poiret One";
    text-align: center;
    margin: 0 0 .5em 0;
}
#nav_ul {
    margin: .5em;
}
#menuIcon {
    position: fixed;
    z-index: 30;
    top: 2%;
    right: 2%;
}
#menuIcon img {
    width: 40px;
    height: auto;
}
.questionBox {
    margin: .5em;
}
.questionBox > h6 {
    display: block;
    padding: .8em;
    background-color: #666;
    color: white;
    border-radius: 5px;
}
.answerBox {
    margin: .5em;
}
.answerBox > p {
    display: block;
    padding: .5em;
    border: solid 1px lightgray;
    border-radius: 5px;
}





