body {
    font-family: "Roboto Slab", Verdana;
}
header {
    padding: .1em;
}

/*----- "La Paz Homeowners Association" Logo ----*/
#logo > h1 {
    font-size: 6em;
    font-family: "Poiret One";
    text-align: center;
    margin: 0 auto;
}
#logo > h6 {
    font-size: 1.3em;
    font-family: "Poiret One";
    text-align: center;
    margin: 0 0 .5em 0;
}
/*----- Nav Bar and Hamberger Icon ----*/
#nav_ul {
    margin: 1em;
}
#menuIcon {
    position: fixed;
    z-index: 30;
    top: 2%;
    right: 2%;
}
#menuIcon img {
    width: 40px;
    height: auto;
}
/*----- Question Boxes ----*/
.questionBox {
    margin: 0 1em;
}
.questionBox h6 {
    display: block;
    padding: 1em;
    background-color: #666;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.questionBox h6:active {
    background-color: black;/* We should change this depends on our color theme. */
}
.answerBox {
    line-height: 1.6em;
    margin: 0 1em;
    padding: 1em;
    border: solid 1px lightgray;
    border-radius: 5px;
}


/* media queries for big screen

#container {
    width: 960px;
    margin: 0 auto;
}

*/





