/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                TABLE OF CONTENTS
-----------------------------------------------------------

    1. Project details
    2. CSS reset
    3. Global Styles (tags, basic styling)
    4. Header and Nav
    5. Main and Body
    6. Generic Selectors
    7. Footer
    8. Media Queries

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    COLOR GUIDE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
dark gray (logo) : #80828a







+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    TYPOGRAPHY GUIDE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Logo, Body: "Roboto Slab"







+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            1. PROJECT DETAILS
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Author: Jose Vargas, Daniel Masterson, Younji Woo
    Project Name: La Paz Homeowners Association
    Ver: 1.0
    Last Updated: 05-25-2016
    Notes:

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
                        

header, nav, section, article, aside, footer, video, audio {
    display: block;
}

* {
    padding: 0;
    margin: 0;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    2. CSS reset
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/










/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            3. Global Styles (tags, basic styling)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/













/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    4. Header and Nav
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header {
    padding: 5px;
}
#logo img {
    width: 80%;
    height: auto;
}
#menuIcon img {
    width: 40px;
    height: auto;
}
#nav_ul li {
    
}
#nav_ul a {
    display: block;
    text-decoration: none;
    color: #80828a;
    border: 1px solid #ccc;
    font-size: 1.2em;
    padding: .5em;
}

#slideshow_container {
    padding: 0 5px 0 5px;
}

#slideshow_ul img {
    width: 100%;
    height: auto;
}











/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    5. Main and Body
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/








/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    6. Generic Selectors
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/







/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        7. Footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/








/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    8. Media Queries
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/