/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                TABLE OF CONTENTS
-----------------------------------------------------------

    1. Project details
    2. CSS reset
    3. Global Styles (tags, basic styling)
    4. Header and Nav
    5. Main and Body
    6. Generic Selectors
    7. Footer
    8. Media Queries

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    COLOR GUIDE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
dark gray (logo) : #80828a







+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    TYPOGRAPHY GUIDE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Header: "Poiret One", Verdana;
    Body: "Roboto Slab", Verdana;






+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            1. PROJECT DETAILS
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Author: Jose Vargas, Daniel Masterson, Younji Woo
    Project Name: La Paz Homeowners Association
    Ver: 1.0
    Last Updated: 05-25-2016
    Notes:


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    2. CSS reset
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/










/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            3. Global Styles (tags, basic styling)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header > nav, main, footer  {
    font-family: "Roboto Slab", Verdana;
}












/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    4. Header and Nav
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header {
    padding: .1em;
}
#logo > h1 {
    font-size: 6em;
    font-family: "Poiret One";
    text-align: center;
}
#logo > h6 {
    font-size: 1.3em;
    font-family: "Poiret One";
    text-align: center;
    margin-bottom: .5em;
}
#menuIcon {
    position: fixed;
    top: 2%;
    right: 2%;
}
#menuIcon:hover + ul{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#menuIcon img {
    width: 40px;
    height: auto;
}
/*+++++++++++++++++++++++++++++++++++
           Navigation Bar
+++++++++++++++++++++++++++++++++++*/
#nav_ul {
    /*display: none;*/
    display: relative;
    background-color: black;
    opacity: .8;
    width: 100%;
}
#nav_ul a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: .5em;
}
#nav_ul a:hover {
    color: orange;
}
#nav_ul ul a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: .5em;
}
#nav_ul li:hover #pi_ul,  #nav_ul li:hover #forms_ul {
    display: block;
}
#nav_ul #pi_ul {
    display: none;
    background-color: white;
    position: absolute;
    top: 195px;
    left: 180px;
    width: 50%;
}
#nav_ul #pi_ul a {
    color: black;
    background-color: white;
}
#nav_ul #pi_ul a:hover {
    color: orange;
}
#nav_ul #pi_ul li {
    list-style-type: none;
}
#nav_ul #forms_ul {
    display: none;
    background-color: white;
    position: absolute;
    top: 290px;
    left: 180px;
    width: 50%;
}
#nav_ul #forms_ul a {
    color: black;
}
#nav_ul #forms_ul a:hover {
    color: orange;
}
#nav_ul #forms_ul li {
    list-style-type: none;
}

/*+++++++++++++++++++++++++++++++++++
              Slide Show
+++++++++++++++++++++++++++++++++++*/

    .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
            /* page ination image controls */
            .slideShow_container {
                max-width: 1200px;
                position: relative;
            }
            .rslides_tabs {
                list-style-type: none;
                position: absolute;
                bottom:0;
                left:50%;
                z-index: 5;
            }
            .rslides_tabs li {
                display: inline-block;
                margin:0 5px 5px;
            }
            .rslides_tabs a {
                color:#fff;
                text-decoration: none;
                width:10px;
                height:10px;
                border:solid 2px #fff;
                background-color:#fff;
                background-color:rgba(255,255,255,.8);
                display: inline-block;
                text-indent: -9999px;
                border-radius: 15px;
            }
            .rslides_here a {
                background-color:#333;
                background-color:rgba(7,156,200,.8);
            }
            /* next/previous buttons */
            .rslides_nav {
                text-decoration: none;
                width:38px;
                height: 61px;
                background:url(images/navArrows.png) no-repeat left top;
                display: inline-block;
                position: absolute;
                top:40%;
                z-index: 5;
                text-indent: -9999px;
                opacity: .7;
            }
            .rslides_nav.next {
                right:0;
                background-position: right top;
            }
            .rslides_nav:active {
                opacity:1;
            }
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    5. Main and Body
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.box {
    margin: 35px 20px;
}
.box p {
    margin: 0 auto;
}

.service-heading {
    margin: 0px auto;
}
.service-heading a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

/*+++++++++++++++++++++++++++++++++++
          propertyInfo.html
+++++++++++++++++++++++++++++++++++*/
#photoGallery {
    list-style-type: none;
    text-align: center;
}
#photoGallery img {
    width: 70%;
    margin: .3em;
    border-radius: 1em;   
}




/*+++++++++++++++++++++++++++++++++++
          Services.html
+++++++++++++++++++++++++++++++++++*/






/*+++++++++++++++++++++++++++++++++++
          Forms.html
+++++++++++++++++++++++++++++++++++*/






/*+++++++++++++++++++++++++++++++++++
          Contact.html
+++++++++++++++++++++++++++++++++++*/




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    6. Generic Selectors
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/







/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        7. Footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/








/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    8. Media Queries
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/