/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                TABLE OF CONTENTS
-----------------------------------------------------------

    1. Project details
    2. CSS reset
    3. Global Styles (tags, basic styling)
    4. Header and Nav
    5. Main and Body
    6. Generic Selectors
    7. Footer
    8. Media Queries

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    COLOR GUIDE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
dark gray (logo) : #80828a





+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    TYPOGRAPHY GUIDE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Header: "Poiret One", Verdana;
    Body: "Roboto Slab", Verdana;






+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            1. PROJECT DETAILS
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Author: Jose Vargas, Daniel Masterson, Younji Woo
    Project Name: La Paz Homeowners Association
    Ver: 1.0
    Last Updated: 05-25-2016
    Notes:


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    2. CSS reset
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            3. Global Styles (tags, basic styling)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header > nav, main, footer  {
    font-family: "Roboto Slab", Verdana;
}












/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    4. Header and Nav
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    5. Main and Body
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


#links {
    list-style-type: none;
    text-align: center;
}
#links img {
/*    width: 70%;*/
    margin: .3em;
    border-radius: 1em;   
}
#links a {
    display: block;
    width: 100px;
    height: 100px;
}








/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    6. Generic Selectors
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/







/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        7. Footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/








/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    8. Media Queries
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/